header {
    /* border: 1px solid red; */
    height: 74px;   
}
.header-inner {
    /* border: 1px solid orange; */
    display: flex; justify-content: space-between;
    padding-left: 36px; padding-right: 36px;
    align-items: center;
    height: 74px; 
}
.left-margin {
    /* border: 1px solid yellow; */
}
.ul-left-menu {
    display: flex; justify-content: space-between;
    gap: 36px;
}
.left-item > a {
    padding-bottom: 5px;
    position: relative;
}
.left-item > a:after {
    content: "";
    position: absolute; 
    bottom: 0; left: 0; width: 0%; height: 1px;
    background-color: #000;
    transition: width 0.3s;
}
.left-item > a:hover:after {
    width: 100%;
}
.ceilne-logo {
    /* border: 1px solid yellow;     */
}
.right-menu-margin {
    /* border: 1px solid yellow; */
}
.ul-right-menu {
    display: flex; justify-content: end;
    width: 535px;
    gap: 36px;    
}
.right-item > a {
    padding-bottom: 5px;
    position: relative;
}
.right-item > a::after {
    content: "";
    position: absolute;
    bottom: 0; left: 0; width: 0%; height: 1px;

    background-color: #000;
    transition: width 0.3s;
}
.right-item >a:hover::after {
    width: 100%;
}
main {
    height: 10525px; 
    background-color: bisque;
}